html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	margin: 0;
	padding: 0;
}

dd {
	margin: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0;
}

figure {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0;
	padding: 0;
}

legend {
	margin: 0;
	padding: 0;
}

textarea {
	margin: 0;
	padding: 0;
}

pre {
	margin: 0;
	padding: 0;
}

iframe {
	margin: 0;
	padding: 0;
	border: 0;
}

hr {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

h3 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

h4 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

h5 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

h6 {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
}

button {
	margin: 0;
	border: 0;
}

input {
	margin: 0;
	border: 0;
}

select {
	margin: 0;
}

* {
	box-sizing: inherit;

	&::before {
		box-sizing: inherit;
	}

	&::after {
		box-sizing: inherit;
	}
}

img {
	height: auto;
	max-width: 100%;
}

video {
	height: auto;
	max-width: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	padding: 0;
}

th {
	padding: 0;
}
