&:root {
	--bg-dark: #242423;
	--bg-light: #333533;
	--fg-light: #E8EDDF;
	--callout: rgb(255, 255, 102);
	--callout-dark: #101010;
}

* {
	font-size: 14px;
}

html {
	background-color: var(--bg-dark);
	color: #fff;
	font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
	font-weight: 400;
	text-shadow: rgb(77, 81, 86) 0 0 0;
	height: 100%;
}

body {
	background-color: var(--bg-dark);
	color: #fff;
	font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
	font-weight: 400;
	text-shadow: rgb(77, 81, 86) 0 0 0;
	height: 100%;
}

main {
	background-color: var(--bg-dark);
	color: #fff;
	font-family: "Inter", Arial, Helvetica, sans-serif, "Noto Color Emoji";
	font-weight: 400;
	text-shadow: rgb(77, 81, 86) 0 0 0;
	height: 100%;
	display: flex;
}

button {
	&:hover {
		&:not(.active) {
			filter: brightness(1.15);
			cursor: pointer;
		}
	}
}

#sidebar {
	flex: 3 30%;
	display: flex;
	flex-direction: column;
	overflow: auto;
	background-color: var(--bg-light);

	button {
		height: 40px;
		margin-bottom: 1px;
		background: var(--bg-light);
		color: #fff;
		overflow: hidden;
	}

	button.active {
		background: var(--bg-dark);
		color: var(--callout);
		font-weight: bold;
		box-shadow: 0 2px 2px rgba(0,0,0,0.9);
		z-index: 10;
	}

	#new-room {
		display: flex;
		flex: 0 0 auto;
		flex-direction: row;
	}
}

#room-list {
	display: flex;
	flex-direction: column;
	overflow: auto;
	flex: 1;
}

#content {
	flex: 7 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}

.message {
	display: flex;
	flex-direction: column;
	padding: 10px 0;

	&:last-child {
		padding-bottom: 20px;
	}

	.username {
		font-weight: bold;
		padding-bottom: 5px;
		color: var(--callout);
	}
}

#messages {
	padding: 10px 20px;
	flex: 1;
}

form#new-message {
	bottom: 0;
	position: sticky;
	flex: 0 0 auto;
	width: 100%;
}

form {
	display: flex;
	border-top: 2px solid #242424;

	* {
		height: 40px;
		background: var(--fg-light);
		color: var(--bg-dark);
	}

	button {
		padding: 0 10px;
	}
}

input {
	padding: 0 10px;

	&:focus {
		outline: 0;
		filter: brightness(1.05);
	}
}

input#username {
	text-align: right;
	flex: 1 25%;
	width: 25%;
	border-right: 1px solid #303030;
}

input#message {
	flex: 10 100%;
}

#new-room {
	input {
		&:focus {
			filter: brightness(1.2);
		}
		flex: 8 80%;
		width: 20%;
		background-color: var(--callout-dark);
		color: #fff;
	}

	button {
		&:hover {
			filter: brightness(1.2);
		}
		flex: 2 20%;
		width: 20%;
		background-color: var(--bg-dark);
	}
}

#status {
	padding: 5px 10px;
	text-align: center;
	font-size: 12px;
}

#status.pending {
	&::before {
		content: "status: connected";
	}
	background-color: yellow;
	color: #000;
}

#status.connected {
	&::before {
		content: "status: connected";
	}
	background-color: green;
	color: #fff;
}

#status.reconnecting {
	&::before {
		content: "status: reconnecting";
	}
	background-color: red;
	color: #fff;
}
